.container {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.container mat-card {
    background: rgba(255,255,255,0.97);
    border-radius: 10px;
    box-shadow: 0 0 100px 1px rgba(255, 255, 255, 0.5);
    width: 90%;
}

.container mat-card h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    color: rgb(10,45,75);
}

.container mat-card h3 {
    margin-top: 10px;
    font-size: 22px;
    color: rgb(10,45,75);
}

.container mat-card-content {
    margin: 0 15px 15px;
}

.container mat-card-content a {
    text-decoration: none;
    color: inherit;
}

.container mat-card-content a:hover {
    color: red;
    font-style: italic;
}

.container mat-card-content p {
    font-size: 15px;
    color: rgb(10,45,75);
    text-align: justify;
}

.about-content {
    display: flex;
    gap: 30px;
    align-content: space-between;
}

.about-logo {
    width: 100%;
    max-width: 480px;
    margin-right: 20px;
}
