<div class="container">
    <mat-card>
        <h2><b>Chi Siamo</b></h2>
        <mat-card-content>
            <div class="about-content">
                <img src="/assets/logo.png" alt="Logo" class="about-logo" />
                <div class="about-details">
                    <h3><b>Surveys Hub s.r.l.</b></h3>
                    <div class="contact-link-box">
                        <i class="fa fa-briefcase" style="margin: 5px;" aria-hidden="true"></i>
                        <span><b>P. IVA </b>01234567890123</span><br>
                    </div>
                    <div class="contact-link-box">
                        <i class="fa fa-map-marker" style="margin: 5px 7px;" aria-hidden="true"></i>
                        <a href="https://maps.app.goo.gl/xXieVSwGpZ1nk57L6">
                            <span>Via Pietro Bucci 44/Z, Rende (CS)</span>
                        </a>
                    </div>
                    <div class="contact-link-box">
                        <i class="fa-brands fa-whatsapp" style="margin: 5px 6px;" aria-hidden="true"></i>
                        <a href="https://wa.me/393421234567">
                            <span>+39 342 1234567</span>
                        </a>
                    </div>
                    <div class="contact-link-box">
                        <i class="fa fa-envelope" style="margin: 5px;" aria-hidden="true"></i>
                        <a href="mailto:info@pcworld.it">
                            <span>info&#64;surveyshub.it</span>
                        </a>
                    </div>
                    <div class="contact-link-box">
                        <i class="fa fa-envelope" style="margin: 5px;" aria-hidden="true"></i>
                        <span>surveyshub&#64;arubapec.it</span>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <h2><b>Mission</b></h2>
        <mat-card-content>
            <p>
                Mettere le persone (studenti, ricercatori, professionisti, etc.) al centro dell’esperienza di raccolta feedback,
                offrendo una piattaforma intuitiva, affidabile e gratuita dove creare, distribuire e analizzare questionari in pochi click.
                Vogliamo trasformare i sondaggi da semplice compilazione a momento di dialogo trasparente: ogni risposta conta,
                viene custodita in modo sicuro e diventa spunto di crescita per chi pone le domande e per chi decide di condividere la propria opinione.
                Puntiamo a ridurre le barriere tecniche, democratizzare l’analisi dei dati e alimentare una comunità basata su
                scambio, fiducia e conoscenza condivisa.
                La nostra missione è favorire decisioni più consapevoli, trasformando ogni questionario in un’esperienza
                coinvolgente e di valore sia per il creatore sia per il partecipante.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <h2><b>Vision</b></h2>
        <mat-card-content>
            <p>
                Immaginiamo un futuro in cui l’opinione di ciascun individuo possa incidere in tempo reale sulle scelte di università,
                imprese, enti pubblici e creator, grazie a un ecosistema di questionari aperto, scalabile e interconnesso.
                Survey’s Hub aspira a diventare il punto di riferimento europeo per la valutazione crowdsourced:
                una “piazza digitale” dove idee e progetti sono costruiti ascoltando la voce collettiva,
                superando confini geografici, linguistici e tecnologici.
                Vogliamo che ogni utente, aprendo Survey’s Hub, si senta parte di un movimento che promuove trasparenza,
                inclusione e miglioramento costante perché un mondo che ascolta davvero è un mondo che evolve meglio.
            </p>
        </mat-card-content>
    </mat-card>
</div>
