.container {
    margin: auto;
    border-radius: 10px;
    width: auto;
}

.container mat-card h2 {
    text-align: center;
    margin: 20px auto;
    color: rgb(10, 45, 75);
    font-weight: bold;
    text-transform: uppercase;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row mat-form-field {
    flex: 0 0 48%;
}

mat-card {
    border-radius: 10px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}

mat-dialog-content {
    margin: 0;
    padding: 0;
}

button {
    width: 50%;
    margin: 10px;
    cursor: pointer;
}

.confirm-button {
    flex: 0.6;
    color: white;
    background-color: rgb(230,0,0) !important;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: rgb(200, 0, 0) !important;
    color: white;
}

.cancel-button {
    flex: 0.6;
    color: white;
    background-color: rgb(30,75,150) !important;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: rgb(15, 30, 120) !important;
    color: white;
}
