<div class="container">
    <mat-card>
        <h2>Conferma</h2>

        <mat-dialog-content>Sei sicuro di voler procedere?</mat-dialog-content>

        <mat-dialog-actions>
            <button button mat-raised-button class="cancel-button" (click)="onCancel()">
                Annulla
            </button>

            <button button mat-raised-button class="confirm-button" color="warn" (click)="onConfirm()">
                Conferma
            </button>
        </mat-dialog-actions>

    </mat-card>
</div>
