<div class="container">
    <mat-card>
        <h2>Contattaci</h2>

        <form [formGroup]="contactForm" (ngSubmit)="contactUs()">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Nome</mat-label>
                <input matInput type="text" placeholder="Inserisci il tuo nome completo" formControlName="name" />
                <mat-error *ngIf="contactForm.get('name')?.hasError('required')">Questo campo è obbligatorio!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Inserisci il tuo indirizzo email" formControlName="email" />
                <mat-error *ngIf="contactForm.get('email')?.hasError('email')">Inserisci un indirizzo mail valido!</mat-error>
                <mat-error *ngIf="contactForm.get('email')?.hasError('required')">Questo campo è obbligatorio!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Oggetto</mat-label>
                <input matInput type="text" placeholder="Inserisci l'oggetto della tua richiesta" formControlName="object" />
                <mat-error *ngIf="contactForm.get('object')?.hasError('required')">Questo campo è obbligatorio!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Testo della richiesta</mat-label>
                <textarea matInput type="text" placeholder="Scrivi come possiamo esserti utile" formControlName="description"></textarea>
                <mat-error *ngIf="contactForm.get('description')?.hasError('required')">Questo campo è obbligatorio!</mat-error>
            </mat-form-field>

            <button mat-raised-button class="contact-button" type="submit" (click)="contactUs()">Invia Richiesta</button>
        </form>
    </mat-card>
</div>
